@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketCatalog.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")



@{
    var articleData = (ArticleLimpet)Model.List.First();
    var linkLP = 0;

    var datalist = articleData.GetLinkList();
    var globalSettings = new SystemGlobalData();
    var sessionParams = Model.SessionParamsData;
    var fieldId = "articlelink";
}

<div class="w3-row linklistdatasection">

    <div class="w3-bar">
        <div class="w3-button w3-bar-item w3-theme-action w3-padding simplisity_click" s-post="#articledatasection" s-return="#links" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-cmd="articleadmin_addlink" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonIcon(ButtonTypes.add)</div>
        <div class="w3-button w3-bar-item w3-pale-yellow w3-padding simplisity_itemundo" s-recylebin="linklistbin" s-return="#linklistdata" s-removelist=".linklist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
    </div>

    <ul id="linklistdata" class="w3-ul">

        @foreach (var linkInfo in datalist)
        {
            <li class="linklist w3-display-container w3-border-0"  style="list-style-type: none;">
                @SortableListIndex(linkInfo, linkLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <div class="w3-col m6">
                            @CheckBox(linkInfo, "genxml/checkbox/blank" + fieldId, "&nbsp;" + ResourceKey("DNNrocket.blank").ToString(), " class='w3-check' ", false, false, linkLP)
                        </div>
                        <div class="w3-col m6">
                            @CheckBox(linkInfo, "genxml/checkbox/hide" + fieldId, "&nbsp;" + ResourceKey("DNNrocket.hidelink").ToString(), " class='w3-check' ", false, false, linkLP)
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <label>@ResourceKey("DNNrocket.text")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(linkInfo, "genxml/lang/genxml/textbox/name" + fieldId, " class='w3-input w3-border' autocomplete='off'", "", true, linkLP)
                        </div>
                        <div class="w3-col m12">
                            <label>@ResourceKey("DNNrocket.url")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(linkInfo, "genxml/textbox/externallink" + fieldId, " class='w3-input w3-border' autocomplete='off'", "https://", true, linkLP)
                        </div>
                    </div>
                    <div class="simplisity_removelistitem w3-display-topright" s-removelist=".linklist" s-recylebin="linklistbin" style="cursor: pointer;">
                        @ButtonIcon(ButtonTypes.remove)
                    </div>
                </div>
            </li>
            linkLP += 1;
        }
    </ul>

</div>


<script>
    $(document).ready(function () {
        $("#linklistdata").sortable();
        $("#linklistdata").disableSelection();

        $('.linktypeclick').unbind('click');
        $('.linktypeclick').click(function () {
            var linkrow = $(this).attr("linkrow");
            var selectedval = $(this).find(":checked").val();
            if (selectedval === '1') {
                $('.internallink' + linkrow).show();
                $('.externallink' + linkrow).hide();
            }
            if (selectedval === '2') {
                $('.internallink' + linkrow).hide();
                $('.externallink' + linkrow).show();
            }
        });

    });

</script>


