@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketCatalog.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var globalSettings = new SystemGlobalData();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var portalCatalog = new PortalCatalogLimpet(articleData.PortalId, DNNrocketUtils.GetEditCulture());

}

<div id="articleimageselect" class="w3-modal">
    <div class="w3-modal-content" style="width:40%;">

        <div class="" style="height: 38.5px;">
            <span onclick="$('#articleimageselect').hide();" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div class="w3-margin-top" style="">
            <div class="w3-container">

                @if (articleData.GetImages().Count < portalCatalog.ArticleImageLimit)
                {

                    <h2>@ResourceKey("DNNrocket.imageupload")</h2>
                    <p>@ResourceKey("DNNrocket.imageupload", "", "Msg")</p>

                    <input id="imagefileupload" class="simplisity_base64upload" s-reload="false" s-cmd="articleadmin_addimage" s-post="#articledatasection" s-return="#imgs" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"articleid":"@articleData.ArticleId"}' type="file" name="file[]" multiple style="display:none;">
                    <div class="w3-row w3-margin-bottom">
                        <span class="w3-col m12 w3-button w3-teal fileuploadaction" onclick="$('#articleimageselect').hide();$('#imagefileupload').trigger('click');">@ButtonText(ButtonTypes.upload)</span>
                    </div>

                    <div id="simplisity-file-progress-bar" class="w3-modal w3-padding" style="z-index:9999;background-color:grey">
                        <div class="w3-modal-content w3-card-4  w3-display-middle w3-padding" style="width: 60%;">
                            <div id="progessaction">@ResourceKey("DNNrocket.imageupload")</div>
                            <div class=" w3-row w3-light-grey">
                                <div class="w3-blue simplisity-file-progress-bar" style="width:0%;height:24px;">0%</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h2>@ResourceKey("DNNrocket.articleimagelimit")</h2>
                    <p>@ResourceKey("DNNrocket.articleimagelimit", "", "Msg")</p>
                }


            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

    });

</script>