@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var settingsData = (CatalogSettingsLimpet)Model.List.First();
    var info = settingsData.Info;
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
    var systemInfo = new SystemLimpet("rocketdocs");
    var appThemeSystem = new AppThemeSystemLimpet(systemInfo.SystemKey);
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var defaultCategory = new CategoryLimpet(portalCatalog.PortalId, settingsData.DefaultCategoryId, DNNrocketUtils.GetCurrentCulture());

}

@RenderLanguageSelector("settingsadmin_edit", "", appThemeSystem, Model)

<div id="" class="w3-display-container w3-animate-opacity">

    <div class="w3-col m2 w3-tiny w3-right w3-right-align w3-padding">PortalId:&nbsp;@settingsData.PortalId</div>
    <div class="w3-bar w3-margin">
        <div class="w3-bar-item w3-button w3-theme-action simplisity_click" s-list="" s-cmd="settingsadmin_save" s-post="#settingscontent">@ButtonText(ButtonTypes.save)</div>
    </div>

    <div id="settingscontent" class="w3-margin w3-border-bottom">

        <div class="w3-row w3-padding">
            <div class="w3-large"><b>@ResourceKey("RC.settings")</b></div>
        </div>

        <div class="w3-row portaldatasection">
            <div class="w3-twothird w3-padding">
                <label>@ResourceKey("RC.catalogname")</label>
                @TextBox(info, "genxml/textbox/catalogname", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
            <div class="w3-third w3-padding">
                <label>@ResourceKey("RC.defaultcategory")&nbsp;</label>
                <div class="w3-row">
                    <span class="w3-col m9 w3-border w3-light-grey w3-padding" style="height:40px;">@defaultCategory.Name</span>
                    <span class="w3-col m3 w3-button w3-theme parentcategoryselect" onclick="$('#categoryselect').show();" style="width:64px;">@ButtonIcon(ButtonTypes.tree)</span>
                </div>
                @RenderTemplate("CategoryDefaultSelect.cshtml", appThemeSystem, Model, true)
            </div>
        </div>

        <div class="w3-row w3-padding">
        </div>

        <div class="w3-row">
            <div class="w3-half w3-padding">
                <label>@ResourceKey("RC.fromemail")</label>
                @TextBox(info, "genxml/textbox/fromemail", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
            <div class="w3-half w3-padding">
                <label>@ResourceKey("RC.contactemail")</label>
                @TextBox(info, "genxml/textbox/contactemail", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
        </div>

        <div class="w3-row w3-padding">
            <label>@ResourceKey("RC.propertygroups")</label>
            @TextArea(info, "genxml/textbox/propertygroups", " class='w3-input w3-border action_tageditor' ", "General")
        </div>
        <div class="w3-row  w3-padding">
            <div class="w3-button" onclick="docopyclipboard($('#secretcode'))"><b>@ResourceKey("DNNrocket.securitycode")</b>&nbsp;<span id="iconsecretcode" class=" action-clipboardicon">@ButtonIcon(ButtonTypes.copy)</span></div>
            <div id="secretcode" class="w3-padding w3-light-grey w3-border" style="width:100%;word-wrap:break-word;">@(portalCatalog.RemoteBase64Params())</div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        $('.action_tageditor').tagEditor({
            delimiter: ', ', /* space and comma */
            removeDuplicates: true,
            forceLowercase: false,
        });
        $('.tag-editor').height(100)
    });


</script>



