@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.List.First();
    var info = portalCatalog.Info;
    var defaultsData = (SecurityLimpet)Model.GetDataObject("securitydata");
    var disableSqlEdit = " disabled ";
    if (UserUtils.IsSuperUser())
    {
        disableSqlEdit = "";
    }
}

<div id="sidemenuconfigdata" class="w3-container a-panelsidemenu" style="display:none;">

    @if (!UserUtils.IsSuperUser())
    {
        <div class="w3-panel w3-pale-red w3-padding-16">
            @ResourceKey("DNNrocket.suonly")
        </div>
    }

    <div class="w3-row  w3-padding w3-border-bottom">
        <label class="">@ResourceKey("RCP.sqlfilterarticle")</label>
        @TextArea(info, "genxml/sqlfilterarticle", "class='w3-input w3-border' s-datatype='coded' rows='6' " + disableSqlEdit, defaultsData.Get("root/sqlfilter/article"), false)
    </div>

    <div class="w3-row  w3-padding">
        <label class=""><b>@ResourceKey("RCP.sqlorderby")</b></label>
        <div class="w3-small">
            <i>
                @ResourceKey("RCP.sqlorderby", "", "Help")
            </i>
        </div>
    </div>

    <div class="w3-container">
        <div class="w3-row w3-margin">
            @if (UserUtils.IsSuperUser())
            {
                <div class="w3-col m6">
                    <div row="sqlorderbyproduct" class="sqlorderbyproductaddvaluekey w3-button w3-teal w3-padding">@ButtonText(ButtonTypes.add)</div>
                </div>
            }
        </div>

        <div class="w3-row w3-margin">

            <div class="w3-row  w3-theme-l4 w3-padding">
                <div class="w3-col m3">@ResourceKey("DNNrocket.key")</div>
                <div class="w3-col m8">@ResourceKey("DNNrocket.value")</div>
                <div class="w3-col m1" style="width:20px;"></div>
            </div>

            @{
                var lp3 = 1;
                var orderbylist = portalCatalog.GetOrderByList();
                if (orderbylist.Count == 0)
                {
                    foreach (var d in defaultsData.ArticleOrderBy())
                    {
                        var s = new SimplisityInfo();
                        s.SetXmlProperty("genxml/key", d.Key);
                        s.SetXmlProperty("genxml/value", d.Value);
                        s.SetXmlProperty("genxml/default", "true");
                        orderbylist.Add(s);
                    }
                }
            }
            <ul class="w3-ul w3-padding dictionarylistsqlorderbyproduct">
                @foreach (var orderby in orderbylist)
                {
                    var disabledstr = "";
                    if (orderby.GetXmlPropertyBool("genxml/default"))
                    {
                        disabledstr = "disabled";
                    }

                    <li class="sqlorderbyproduct w3-card w3-margin-bottom w3-display-container ui-sortable-handle">
                        <input id="sqlorderbyproductdefault_@lp3" value="@orderby.GetXmlProperty("genxml/default")" s-xpath="genxml/default" class="w3-input w3-border" @disableSqlEdit autocomplete="off" type="hidden">
                        <div class="w3-row">
                            <div class="w3-col w3-padding m3">
                                <input id="sqlorderbyproductkey_@lp3" value="@orderby.GetXmlProperty("genxml/key")" s-xpath="genxml/key" class="w3-input w3-border" @disabledstr @disableSqlEdit autocomplete="off" type="text">
                            </div>
                            <div class="w3-col w3-padding m8">
                                <input id="sqlorderbyproductvalue_@lp3" value="@orderby.GetXmlProperty("genxml/value")" s-xpath="genxml/value" class="w3-input w3-border" @disableSqlEdit autocomplete="off" type="text">
                            </div>
                            <div onclick="this.parentElement.parentElement.remove();" class=" w3-col m1 w3-padding-small" style="width:60px;">
                                @if (UserUtils.IsSuperUser())
                                {
                                    <div class="w3-button">
                                        @ButtonIcon(ButtonTypes.remove)
                                    </div>
                                }
                            </div>
                        </div>
                    </li>

                    lp3 += 1;
                }
            </ul>

        </div>
    </div>

</div>
