@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.List.First();
    var info = portalCatalog.Info;
    var portalData = new PortalLimpet(portalCatalog.PortalId);
    var systemData = new SystemLimpet("rocketdocs");
    var systemAppTheme = new AppThemeSystemLimpet(systemData.SystemKey);
    DNNrocketUtils.SetCurrentCulture(DNNrocketUtils.GetEditCulture());
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();

    var defaultsData = (SecurityLimpet)Model.GetDataObject("securitydata");

}

<div id="a-setupbuttons" class="w3-bar" style="display:none;">
    <span class="w3-button simplisity_click" s-cmd="dashboard_get">@ButtonIcon(ButtonTypes.back)</span>
    <button class="w3-padding w3-button w3-theme-action savebutton simplisity_click" s-return="#setupdata" s-cmd="portalcatalog_save" s-list=".sqlorderbyproduct,.settingsdata,.linklist" s-post="#servicesettings" s-fields='{"systemkey":"@systemData.SystemKey","portalid":"@portalCatalog.PortalId"}'>@ButtonText(ButtonTypes.save)</button>
    @if (portalData.Protocol != "")
    {
        <a href="@(portalData.EngineUrlWithProtocol)/@(systemData.SystemKey)" target="_blank" class="w3-button" style="color: black; text-decoration: none; ">@ButtonText(ButtonTypes.admin)</a>
    }
</div>

<div class="w3-row">

    <div class="w3-col m2 w3-padding">

        <ul class="w3-ul">
            <li onclick="selectsidemenu('sidemenugeneraldata');" class="a-sidemenugeneraldata w3-hover-theme w3-theme-l3 a-sidemenu">@ResourceKey("RCP.general")</li>
            <li onclick="selectsidemenu('sidemenuconfigdata');" class="a-sidemenuconfigdata w3-hover-theme a-sidemenu">@ResourceKey("RCP.config")</li>
            <li onclick="selectsidemenu('sidemenupageandlinksdata');" class="a-sidemenupageandlinksdata w3-hover-theme a-sidemenu">@ResourceKey("RCP.pageandlinks")</li>
            <li onclick="selectsidemenu('sidemenutoolsdata');" class="a-sidemenutoolsdata w3-hover-theme a-sidemenu">@ResourceKey("RCP.tools")</li>
        </ul>

    </div>

    <div id="servicesettings" class="w3-col m10 w3-padding">
        @RenderTemplate("RocketSystemGeneral.cshtml", systemAppTheme, Model, true)
        @RenderTemplate("RocketSystemConfig.cshtml", systemAppTheme, Model, true)
        @RenderTemplate("RocketSystemPageLinks.cshtml", systemAppTheme, Model, true)
        @RenderTemplate("RocketSystemTools.cshtml", systemAppTheme, Model, true)
    </div>

</div>

<div>
    @if (UserUtils.IsInRole("Administrator"))
    {
        <div class="w3-container">
            <div class="w3-right">
                @RenderXml(portalCatalog.Info)
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#a-showsetupbuttons').append($('#a-setupbuttons'));
        $('#a-portalbuttons').hide();
        $('#a-setupbuttons').show();
    });

    function selectsidemenu(selector) {
        $('.a-panelsidemenu').hide();
        $('.a-sidemenu').removeClass('w3-theme-l3');
        $('.a-' + selector).addClass('w3-theme-l3');
        $('#' + selector).show();
    }

</script>
