@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.List.First();
    var info = portalCatalog.Info;
    var systemData = new SystemLimpet("rocketcatalog");
    var orgData = new OrganisationLimpet();
    var appThemeList = new AppThemeDataList(portalCatalog.Organisation, systemData.SystemKey);

    var selectedOrg = portalCatalog.Organisation;
    if (selectedOrg == "" && orgData.ActiveList().Count > 0)
    {
        selectedOrg = orgData.DefaultOrg();
    }
}

<div id="sidemenugeneraldata" class="w3-container a-panelsidemenu">

    <div class="w3-row">
        <div class="w3-half">
            <div class="w3-row w3-padding">
                <label class="">@ResourceKey("RCP.securitykey")</label><br />
                @TextBox(info, "genxml/securitykey", "class='w3-input w3-border' ", GeneralUtils.GetGuidKey(), false)
            </div>
            <div class="w3-row w3-padding">
                <div class="">@ResourceKey("RC.appthemeorg")</div>
                @DropDownList(new SimplisityInfo(), "genxml/select/selectedorg", orgData.ActiveList(), " name='selectedorg' class='w3-input w3-border'", selectedOrg)
            </div>
            <div class="w3-row">
                <div class="w3-col m10 w3-padding">
                    <div class="">@ResourceKey("RC.adminapptheme")</div>
                    <select id="appthemeadmin" name="appthemeadmin" s-xpath="genxml/select/appthemeadmin" s-update="save" class="w3-input " style="width:100%;">
                        <option value="" versionfolder=""></option>
                        @foreach (var appTheme in appThemeList.List)
                        {
                            var selectedvalue2 = "";
                            if (portalCatalog.AppThemeAdminFolder == appTheme.AppThemeFolder)
                            {
                                selectedvalue2 = "selected";
                            }
                            <option value="@appTheme.AppThemeFolder" @selectedvalue2>@appTheme.Name</option>
                        }
                    </select>
                </div>
                <div class="w3-col m2 w3-padding">
                    <div class="">@ResourceKey("DNNrocket.version")</div>
                    <div id="appthemeversiondisplay" class="w3-input w3-border w3-light-grey simplisity_click" s-before="activateVersionAction" s-after="popupversionselect" s-cmd='rocketsystem_getappthemeversions' s-post='#servicesettings' s-return='#versionselectlist' s-fields='{"systemkey":"rocketcatalog","ctrl":"appthemeversion"}'>@portalCatalog.AppThemeAdminVersion&nbsp;</div>
                    @HiddenField(info, "genxml/select/appthemeversion")
                </div>
            </div>


        </div>
        <div class="w3-half">
            <div class="w3-half">
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("RCP.maxarticles")</label>
                    @TextBox(info, "genxml/maxarticles", "class='w3-input w3-border' style='width:120px;' ", "100", false)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("RCP.articlesimagelimit")</label>
                    @TextBox(info, "genxml/articlesimagelimit", "class='w3-input w3-border' style='width:120px;' ", "1", false)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("RCP.articlesdocumentlimit")</label>
                    @TextBox(info, "genxml/articlesdocumentlimit", "class='w3-input w3-border' style='width:120px;' ", "0", false)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("RCP.imageresize")</label>
                    @TextBox(info, "genxml/imageresize", "class='w3-input w3-border' style='width:120px;' ", "640", false)
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("DNNrocket.active")</label>
                    @CheckBox(info, "genxml/active", "", "class='w3-input w3-border w3-check'", true)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("DNNrocket.emailon")</label>
                    @CheckBox(info, "genxml/emailon", "", "class='w3-input w3-border w3-check'", true)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">Debug Mode</label>
                    @CheckBox(info, "genxml/debugmode", "", "class='w3-input w3-border w3-check'", false)
                </div>
            </div>
        </div>
    </div>

</div>

<div id="versionselect" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4" style="width:240px;">
        <div style="height:40px;">
            <span onclick="document.getElementById('versionselect').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div id="versionselectlist">
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#appthemeadmin').select2();
        activateVersionAction();
        $('#appthemeadmin').on('change.select2', function (e) {
            $('#appthemeversion').val('');
            $('#appthemeversiondisplay').html('&nbsp;');
            $('#appthemeversiondisplay').trigger('click');
        });

        $('#selectedorg').off("change");
        $('#selectedorg').change(function () {
            simplisity_setSessionField("selectedorg", $(this).val());
            $('.savebutton').trigger('click');
            return false;
        });

    });

    function activateVersionAction() {
        if ($('#appthemeadmin').val() == "") {
            $('#appthemeversiondisplay').attr('s-stop', 'stop');
        } else {
            $('#appthemeversiondisplay').removeAttr("s-stop");
        }
    }

    function popupversionselect() {
        $('#versionselect').show();
    }

    function docopyclipboard(element) {
        rpadmin.CopyTextToClipboard(element);
    }


</script>
